logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
.DS_Store
lib/
project/project/
public/
sbt-dist/
/conf/application.conf
play2-reactivemongo_2.11-0.12.5-play26.jar
test/
